body{
    margin: 0;
    padding: 0;
    background-color: #121536;
    color: #ccc;
}
.login, .register{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login form{
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 238, 231);
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
    max-height: 70vh;
}
.login form input,button{
    height: 4vh;
    border-radius: 10px;
}
.login .form form button{
    background-color: #121536;
    color: rgb(243, 238, 231);
    width: 7vh;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 900;
}
.login .form{
    display: flex;
    border-radius: 5%;
    max-width: 85vh;
    max-height:55vh ;
}
.login .clg{
    max-width: 52vh;
    max-height:52vh ;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
}
.login .logo{
    max-width: 25vw;
}
@media screen and (max-width: 768px) {
    .login .clg {
        display: none;
    }
    .login form{
        border-top-left-radius: 5%;
        border-bottom-left-radius: 5%;
    }
    .login form input,button{
        height: 3vh;
        border-radius: 10px;
    }
    .login .form form button{
        background-color: #121536;
        width: 7vh;
    }
    .login .form{
        height: 40vh;
        border-top-left-radius: 5%;
        border-bottom-left-radius: 5%;
    }
    .login .logo{
        max-width: 50vh;
        width: 250px;
    }
}
/* Register page and register form styles */
.register form{
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 238, 231);
    border-radius: 5%;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vw;
}
.register form input{
    height: 4vh;
    border-radius: 10px;
}

/* display none for input button, but uses the image as image selector  */
.reg {
    display: none;
  }
  
  .custom-file-upload {
    margin: auto;
    border: 1px solid #ccc;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
  }
  
  .custom-file-upload  img{
    width: 50px;
    height: 50px;
  }

  /* N A V B A R */

  .navbar{
    height: 8vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #F3EEE7;
  }
  .navbar a{
    color: #F3EEE7;
    cursor: pointer;
    text-decoration: none;
  }
  .right a{
    margin-right: 1.5vw;
  }
  .right a:last-child {
    margin-right: 0;
  }

  /* F E E D  */

  .Feed{
    display: flex;
    height: 100vh;
    background-color: #F3EEE7;
  }
  .LeftBar{
    width:18vw ;
    margin-left: 7.5vw;
    margin-top: 5vh;
    border-radius: 2vh;
    background-color: #121536;
    text-align: center;
    justify-content: center;
    height: 20vh;
    padding: min(2vh,3vh);
    /* overflow-y: scroll; */
  }
  .LeftBar img{
    object-fit:contain;
    max-width: 5vh;
    border-radius: 50%;
  }
  .center{
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-left: 2vw;
    margin-right: 2vw;
    overflow-y: scroll;
    width: 40vw;
  }
  ::-webkit-scrollbar {
    display: none;
    width: 2px;
}
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
  ::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
}
  .NewPost{
    margin-bottom: 1vh;
  }
  .QuickAccess{
    width:18vw;
    display: flex;
    flex-direction: column;
    /* margin-right: 5vh; */
    margin-top: 5vh;
    border-radius: 2vh;
    background-color: #121536;
    text-align: center;
    justify-content:space-around;
    height: 20vh;
    padding: min(2vh,3vh);
    color: #F3EEE7;;
  }
  .QuickAccess a{
    color: #F3EEE7;
    text-decoration: none;
  }
  .NewPost{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .NewPost img{
    max-width: 4vh;
    border-radius: 50%;
    object-fit:cover;
  }
  .NewPost form{
    align-items: center;
    justify-content: center;
  }
  .NewPost form input{
    width:15vw;
    height: 5vh;
    border-radius: 10px;
  }
  @media screen and (max-width: 768px) {
    .QuickAccess,.LeftBar {
        display: none;
    }
    .Feed{
        justify-content: center;
        text-align: center;
    }
    /* .Posts{
        width:100%;
    } */
    .center{
        width: 90vw;
    }
}
/* P O S T S    S T Y L I N G  */

.center hr{
  width: 100%;
  background-color:#ccc;
}
.Posts{
  text-align: center;
  justify-content: center;
}
.Post{
  border:2px solid #121536;
  border-radius: 10px;
  background-color: #121536;;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.Post p{
  text-align: left;
  margin-left: 1.5vw;
}
.postImage{
  object-fit: contain;
  border-radius: 10px;
  /* size: 80%; */
  /* width: 50vw; */
  /* height: 30vh; */
}
.postHeader{
  display: flex;
}
.postHeader img{
  object-fit:contain;
  max-width: 4vh;
  border-radius: 50%;
  margin-left: 1vw;
  margin-top: 1vw;
}
@media screen and (max-width: 768px) {
  .postImage{
    /* object-fit: contain; */
    /* size: 50%; */
    height: 30vh;
  }
  .Posts{
    margin-bottom: 5vh;
  }
}